.App {
   text-align: center;
   width: 1920px;
   height: 995px;
   background-image: url("./components/image/image0.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
   overflow: scroll;
}
